.navbar {
  height: 70px;
  background-color: #ccc;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar p {
  font-size: 25px;
  color: #171717;
  font-weight: 600;
}
.nav-menu {
  display: flex;
  gap: 50px;
  align-items: center;
  font-size: 20px;
  list-style: none;
  font-weight: 520;
}
.nav-menu li:hover {
  cursor: pointer;
}
.nav-menu hr {
  border: none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background-color: #ff4141;
}
.nav-login-card {
  display: flex;
  align-items: center;
  gap: 45px;
}
.nav-login-card button {
  width: 80px;
  height: 30px;
  outline: none;
  border: 1px solid #7a7a7a;
  border-radius: 50px;
  color: #515151;
  background-color: white;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}
.nav-login-card button:hover {
  background-color: #ffffffd5;
}
.nav-cart-count {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
  margin-left: -55px;
  border-radius: 11px;
  font-size: 14px;
  background: red;
  color: white;
}
